#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.titleContainer {
  position: relative;
}

.title {
margin-top: 0;
}

.logo {
  height: 150px;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
  top: -110px;
  right: 0px;
}

.max {
  height: 100px;
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
  top: 20px;
  right: 30px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.max:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.inputcontainer {
  display: flex;
  gap: 16px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes max-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .max {
    animation: max-spin infinite 3s linear;
  }

  /* div { 
    animation: max-spin infinite 3s linear;
  } 
    */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}